.clearfix, header, div, section {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-size: 1.4rem;
}

#theater {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  margin: 0;
  padding: 78px 20px 0;
  line-height: 2rem;
  position: relative;
}

.row {
  margin: 1em 0;
}
