$nav-pad: 8px;

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  padding: $nav-pad;
  border-bottom: 1px solid #cccccc;
  font-size: 1.2rem;
  background: white;
  height: 52px;

  a {
    color: #666666;
    text-decoration: none;
    &:hover {
      color: blue;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

#logo {
  margin: 0;
  font-size: 2.2rem;
  display: inline-block;
  padding: 4px $nav-pad;
  vertical-align: top;

  a {
    color: black;
  }
}

#search-form {
  position: absolute;
  top: $nav-pad;
  left: 300px;
  right: 150px;
  display: inline-block;
}

#search-field {
  width: 100%;
  padding: $nav-pad;
  border: 1px solid #cccccc;
  font-size: 1.4rem;
  border-radius: 2px;
  &:focus {
    border-color: blue;
    outline: none;
  }
}

#nav {
  display: inline-block;
  padding: $nav-pad;
  font-size: 1.4rem;
}

#nav-list {
  display: inline-block;

  li {
    display: inline-block;
  }

  a {
    padding: 6px;
  }
}

#user-nav {
  font-size: 1.4rem;
  margin: $nav-pad;
  float: right;
  display: inline-block;

  li {
    display: inline-block;
  }

  a {
    padding: 10px;
  }
}
